/* основной шрифт  "Roboto", sans-serif */
/* вторичный шрифт  "Raleway", sans-serif */
/* цвет основного текста #757575 */
/* вторичный цвет текста   #212121 */
/* основной цвет фона  #fff */
/* вторичный цвет фона  #f5f4fa */
/* фон подвала 2F303A */
/* акцент #18A0FB */
/* верхний и нижний внутренний отступ секций: 94px */

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --footer-background: #2f303a;
  --accent-color: #2196f3;
  --section-padding-top-and-bottom: 94px;
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* =============COMPONENTS!!!=============== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark-theme {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}

.logo-light-theme {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000;
}

.logo-text {
  color: var(--accent-color);
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.nav-item > .current-page {
  color: var(--accent-color);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: var(--section-padding-top-and-bottom);
  padding-bottom: var(--section-padding-top-and-bottom);
  background-color: var(--primary-background-color);
}

/* ==============HEADER!!!=============== */
.page-header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #eee;
}

.page-header > .container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts-header {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-header-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-header-item.tel {
  margin-left: 30px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}
/* ===============HEADER END!!!=================== */

/* ===============HERO!!!======================= */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main/hero-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrapper {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-title {
  margin-bottom: 43px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.modal-button {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
}
/* ===============HERO END!!!======================= */

/* ===============FEATURES SECTION!!!================ */
.features.section {
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.features-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.features-item-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  text-align: center;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ===============FEATURES SECTION END!!!================ */

/* ===============GALLERY SECTION!!!====================== */
.gallery.section {
  padding-top: 47px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
/* ===============GALLERY SECTION END!!!====================== */

/* ===============EMPLOYEES SECTION!!!============================== */
.employees.section {
  background-color: var(--secondary-background-color);
}

.employees-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employee-card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee-card-thumb {
  padding: 30px 32px;
}

.employee-name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employee-speciality {
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links-item + .social-links-item {
  margin-left: 10px;
}

.social-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social-links-icon {
  fill: currentColor;
}

.social-links-link:hover,
.social-links-link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

/* ===============EMPLOYEES SECTION END!!!============================== */

/* ===============CLIENTS!!!================================= */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 6 - 30px);
  color: #afb1b8;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  color: #afb1b8;
}

.clients-icon {
  fill: currentColor;
  text-align: center;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* ===============FOOTER!!!=================================== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.logo.logo-dark-theme {
  margin-bottom: 20px;
}

.address-info {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.contacts-footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer-link:hover,
.contacts-footer-link:focus {
  color: var(--accent-color);
}

.contacts-footer-item.mail {
  display: block;
  margin-bottom: 9px;
}

.appeal {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.appeal-box {
  margin-left: 70px;
}

.appeal-box > .social-links {
  padding: 0;
}

.social-links-link.dark-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.social-links-link.dark-theme:hover,
.social-links-link.dark-theme:focus {
  background-color: var(--accent-color);
}
/* ===============FOOTER END!!!=================================== */

/* ===============PORTFOLIO!!!================ */

.portfolio {
  padding-top: var(--section-padding-top-and-bottom);
  padding-bottom: var(--section-padding-top-and-bottom);
  background-color: var(--primary-background-color);
}

.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-option:not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-btn {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.project-link {
  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-type {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ==================PORTFOLIO END!!!======================= */
